src/main/mule/logic-consume.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:min-log="http://www.mulesoft.org/schema/mule/min-log"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/min-log http://www.mulesoft.org/schema/mule/min-log/current/mule-min-log.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">

	<flow name="logic-consumeFlow" doc:id="1a2b9558-680a-49a4-8666-3f65f2a71943" >
		<jms:listener doc:name="Listener" doc:id="662a64bd-afbc-4965-8d9b-3d4b3b64de96" config-ref="JMS_Config" destination="${secure::message.queue}" ackMode="AUTO">
			<jms:consumer-type >
				<jms:queue-consumer />
			</jms:consumer-type>
		</jms:listener>
		<min-log:new doc:name="minLog" doc:id="54093d43-94a0-4e82-a131-85afb5274b29" target="transactionProperties" headers="#[attributes.properties.userProperties]"/>
		<min-log:timed transactionProperties="#[vars.transactionProperties]"
			doc:name="Timed">
			<ee:transform doc:name="Transform Message" doc:id="1a6551c0-d333-483f-923a-9366bd2fcdd1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
{
	"response": {
		"x-transaction-id": vars.transactionProperties.'x-transaction-id',
		"message": payload
	}
}]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<logger level="INFO" doc:name="Logger" doc:id="ca3e428b-1e07-4144-815c-3387a8d9410b" message="#[payload]"/>
		</min-log:timed>
	</flow>

</mule>
